this system will manage orders to manufacturing of 3d impressions

geral rules

it will use:

    MAIN RULES
        1 - NEVER MAKE ANY COMMITS OR PUSH FOR GITHUB
        2 - ALWAYS ANSWER ME IN PORTUGUESE
        3 - ALL FILES OF THIS PROJETCT HAS TO HAVE A ENGLISH NAME EVEN WHEN I ASK YOU IN PORTUGESE, YOU TRANSLATE IT AND DO IT IN ENGLISH.


    1- postgres
    2- laravel
    3- vuejs + typescript
    4- config variables ENUMS php fos user access level where:
        0 = staff
        1 = admin
        9 = customer
    5- it will be used argon2id hashing for mainly protection
    6- tailwind for front-end responsive considering for mobile using
    7- the environment is linux ubuntu
    8- follow the DRY and Clean Architecture patterns 
    9- never install or update the latests libs from npm or composer for security unless they have more than 15 days on repository
    10- all the views on vuejs must have components splitting the layout in mains 2 parts
        first
        1 component for unlogged header
        1 component for logged header
        
        second
        1 component for unlogged footer
        1 component for logged footer

        so between the header component and the footer component there will be the vue code for each page the header will ends on body tag
        and the footer will start closing the body tag for easier maninpulation of layout ont the future
    11- always tell me before start the development if there is a better way of doing it. make a list of what youre going to do to me approve you


#################### remove it when near in production #############
    11- never create an add migration for complement the create migration
        you have to edit the create migration for new fields for now
####################

specific rules

    1- the config of database is already on .env
    2- follow the sequence:
        1 migrations 
        2 controllers
        3 services
        4 models
        5 requests
        6 front end with vue js using all requests of backend on front-end
        
DATABASE
    start with migrations with these tables
    users
    orders - must have date of order, date of develivery, price, what was contracted
    clients - must have, name, doc, address, number, state, zipcode, city, phone1, phone2, contact1 (nullable), contact2 (nullable)
